.box{
 height=200px;
 width: 200px;
 display:inline-flex;
 margin:auto;
}
img{
    border-radius: 50px;
    margin-right: 5px;
    border: 2px solid black;
}
.box1{
    /* display: none; */
   /* visibility: hidden; */
}