.container{
    border:2px solid black;
    height:200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items:start;
    justify-content:space-between;
}
.box{
    height: 100px;
    width: 100px;
    border:2px solid black;
}